@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .seek {
    @apply h-full w-full cursor-pointer appearance-none bg-transparent will-change-transform after:absolute after:-top-8 after:left-[var(--label-position)] after:-translate-x-1/2 after:rounded-full after:bg-white after:px-2 after:text-xs after:font-medium after:tabular-nums after:text-black after:content-[attr(current-time)] focus:outline-none [&::-moz-range-thumb]:h-full [&::-moz-range-thumb]:w-[5px] [&::-moz-range-thumb]:appearance-none [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:bg-white [&::-moz-range-thumb]:shadow [&::-moz-range-track]:h-full [&::-moz-range-track]:w-full [&::-moz-range-track]:bg-transparent [&::-webkit-slider-runnable-track]:h-full [&::-webkit-slider-runnable-track]:w-full [&::-webkit-slider-runnable-track]:bg-transparent [&::-webkit-slider-thumb]:h-[110%] [&::-webkit-slider-thumb]:w-[5px] [&::-webkit-slider-thumb]:translate-y-[-5%] [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-white [&::-webkit-slider-thumb]:shadow-[0px_0px_1px_1px_rgba(0,0,0,0.3)];
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0b0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
  overflow-x: clip;
  width: 100%;
  height: 100%;
}
